   #ASSIGNMENT2:- DATA TYPES AND STRUCTURE
              
              THEORY QUESTION

#1. What are data structures, and why are they important?
=> Data structures are the way of organizing and storing the data so that it can be accessed and modified efficiently. eg, Tuple, String, List, Dictionary, array etc.
They are important because they are crucial for efficient data management and algorithm implementation, impacting the performance and scalability of software applications.


#2. Explain the difference between mutable and immutable data types with examples?
=> Mutable data types are the type of data type which can be changed after its creation. eg, lists, dictionary, etc.
Eg: list=[1,2,3] list[0]=4 #here now the original list[1,2,3] after list[0]=4 has become list[4,2,3]
Immutable data types are the type of data type which cannot be changed after its creation. eg, Tuple, String
Eg, my_tuple = (1, 2, 3)
my_tuple[0] = 4 # This will raise a TypeError


#3. What are the main differences between lists and tuples in Python?
=> Main Differences Between Lists and Tuples in Python:
Lists are mutable, tuples are immutable.
Tuples are generally faster than lists due to their immutability.
Tuples use less memory compared to lists


#4. Describe how dictionaries store data?
=>Dictionaries store data in key-value pairs. Each key is hashed to a unique index in an array where the corresponding value is stored.
eg, dict = {'name': 'Sonu', 'age': 26}
here name is key while Sonu is value of key.


#5. Why might you use a set instead of a list in Python?
=>Sets autimatically removes duplicate values while List don't do that.
Also sets provides faster membership tests compared to lists.


#6. What is a string in Python, and how is it different from a list?
=>String is the sequence of characters which is immutable in nature and it contains only string data types and no other data types.
While in other hand Lists are collection of items and is mutable data structure which can contains multiple data types.


#7. How do tuples ensure data integrity in Python?
=>Since tuples are immutable in nature thats why, Once created, the elements of a tuple cannot be changed, ensuring that the data remains constant.


#8. What is a hash table, and how does it relate to dictionaries in Python?
=>Hash Table: A data structure that maps keys to values using a hash function to compute an index into an array of buckets or slots.
Relation to Dictionaries: Python dictionaries are implemented using hash tables.


#9. Can lists contain different data types in Python?
=> Yes: Lists can contain elements of different data types, such as integers, strings, and even other lists.
eg, mylist=[1,'Sonu',3.5]


#10. Explain why strings are immutable in Python?
=>Immutability helps with performance optimization, memory efficiency, and thread safety. It also allows strings to be used as keys in dictionaries.


#11. What advantages do dictionaries offer over lists for certain tasks?
=>Key-Value Mapping: Efficient for lookups, insertions, and deletions based on keys.
Example: Storing user information where quick access to user details by username is needed.


#12. Describe a scenario where using a tuple would be preferable over a list.
=>Storing coordinates of a point (x, y) where the values should not change.


#13. How do sets handle duplicate values in Python?
=>Python set data structures inherently do not allow duplicate values. When we attempt to add duplicate values to a set, or when we create a set from an iterable that contains duplicates, the set will automatically discard the duplicates, storing only one instance of each unique element.


#14. How does the “in” keyword work differently for lists and dictionaries?
=>In List "in" Checks for the presence of a value as an element.
In Dictionary "in" checks for the presence of a key.


#15. Can you modify the elements of a tuple? Explain why or why not?
=>Since Tuples data structure is immutable, meaning we cannot modify the elements of tuples once its created.


#16. What is a nested dictionary, and give an example of its use case?
=>A nested dictionary is the dictionary within another dictionary.
nested_dict = {'user1': {'name': 'Sonu', 'age': 25}, 'user2': {'name': 'Mantu', 'age': 22}}


#17. Describe the time complexity of accessing elements in a dictionary.
=>The time complexity of accessing elements in a Python dictionary (ie., looking up a value using its key) is, on average, O(1) (constant time).


#18. In what situations are lists preferred over dictionaries?
=>When data naturally fits a sequence, where order and positional access are important, and duplicates are acceptable, a list is the preffered choice.


#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
=>Dictionaries are designed for fast, direct access to values when we have the unique key. Their "unordered" nature means we trade index-based access for extremely efficient key-based retrieval, making them ideal for mapping and lookup tasks.
We cannot retrieve items using integer indices like my_dict[0]. We must know the exact key to retrieve its associated value.
Data retrieval is inherently driven by the key. If we don't know the key, we have to iterate through the dictionary's keys or values to find what we're looking for, which is less efficient than a direct key lookup.


#20. Explain the difference between a list and a dictionary in terms of data retrieval.
=>Lists are for ordered collections where you want to retrieve "the Nth item," like List[1]. - while dictionaries are for unordered collections where you want to retrieve "the item named X. eg, my_dict = {'name': 'Sonu', 'age': 26, 'city': 'Nashik'} person_name = my_dict['name'] person_age = my_age['age']

                          
                        PRACTICAL QUESTION

In [1]:
#1. Write a code to create a string with your name and print it.
name = "JATIN KUMAR"
print(name)

JATIN KUMAR

In [2]:
#2. Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [4]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "PYTHON PROGRAMMING"
sliced_string = string[:3]
print(sliced_string)

PYT

In [5]:
#4. Write a code to convert the string "hello" to uppercase.
string="hello"
uprString = string.upper()
print(uprString)

HELLO

In [10]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
str = string.replace("apple", "orange")
print(str)

I like orange

In [15]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
List= [1,2,3,4,5]
print(List)

[1, 2, 3, 4, 5]

In [16]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
List=[1, 2, 3, 4]
List.append(10)
print(List)

[1, 2, 3, 4, 10]

In [17]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
List= [1, 2, 3, 4, 5]
List.remove(3)
print(List)

[1, 2, 4, 5]

In [19]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
List=['a', 'b', 'c', 'd']
print(List[1])

b

In [20]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
List=[10, 20, 30, 40, 50]
print(List[::-1])

[50, 40, 30, 20, 10]

In [22]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
Tuple = (100, 200, 300)
print(Tuple)

(100, 200, 300)

In [23]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
Tuple = ('red', 'green', 'blue', 'yellow')
print(Tuple[-2])

blue

In [25]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
Tuple = (10, 20, 5, 15)
print(min(Tuple))

5

In [26]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
Tuple = ('dog', 'cat', 'rabbit')
print(Tuple.index('cat'))

1

In [27]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
Tuple = ('Apple','mango','kiwi')
ifKiwi= 'kiwi' in Tuple
print(ifKiwi)

True

In [28]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
Set = {'a','b','c'}
print(Set)

{'a', 'b', 'c'}

In [29]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
Set =  {1, 2, 3, 4, 5}
clearSet = Set.clear()
print(clearSet)

None

In [30]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
Set = {1, 2, 3, 4}
remSet= Set.remove(4)
print(Set)

{1, 2, 3}

In [31]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
setUnion = set1.union(set2)
print(setUnion)

{1, 2, 3, 4, 5}

In [32]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
setIntersect= set1.intersection(set2)
print(setIntersect)

{3}

In [34]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
Dict = {'name':'Jatin', 'age':'24', 'city':'Ghaziabad'}
print(Dict)

{'name': 'Jatin', 'age': '24', 'city': 'Ghaziabad'}

In [35]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
Dict = {'name': 'Alice', 'age': 30}
Val = Dict['name']
print(Val)

Alice

In [36]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
Dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
remDic = Dict.pop('age')
print(remDic)
print(Dict)

22
{'name': 'Bob', 'city': 'New York'}

In [37]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
Dict = {'name': 'Alice', 'city': 'Paris'}
Exist = 'city' in Dict
print(Exist)

True

In [39]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
List=['Jatin', 'Vaibhav', 'Madhav', 'Shikhar']
Tuple=('Bharti', 'Poonam', 'Snehil', 'Shubhangi')
Dict={'Name' : 'Ruchika', 'Age' : '28', 'Relation':'Sister'}
print(List)
print(Tuple)
print(Dict)

['Jatin', 'Vaibhav', 'Madhav', 'Shikhar']
('Bharti', 'Poonam', 'Snehil', 'Shubhangi')
{'Name': 'Ruchika', 'Age': '28', 'Relation': 'Sister'}

In [40]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[32, 47, 48, 58, 61]

In [45]:
#28. Write a code to create a list with strings and print the element at the third index.
List=['Dhruv', 'Lakshya', 'Parth', 'Satyam', 'Parvesh', 'Harsh']
thirdIndex=List[2]
print(thirdIndex)

Parth

In [46]:
#29. Write a code to combine two dictionaries into one and print the result.
Dict1={'Name':'Suman', 'Age':'50'}
Dict2={'Relation':'Mom'}
combDict={**Dict1,**Dict2}
print(combDict)

{'Name': 'Suman', 'Age': '50', 'Relation': 'Mom'}

In [48]:
#30. Write a code to convert a list of strings into a set.
List = ["1","Apple", "Banana", "Cherry", "Apple", "Banana", "1"]
Set = set(List)
print(Set)

{'Apple', '1', 'Cherry', 'Banana'}